[Unit]
Description=Serve Blurbs

[Service]
ExecStart=/home/blurbu/blurbcloud/blurbcloud
WorkingDirectory=/home/blurbu/blurbcloud

[Install]
WantedBy=blurbcloud.target
