
set completion-ignore-case On
# allow the use of the Home/End keys
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# mappings for "page up" and "page down" to step to the beginning/end
# of the history
#"\e[A": beginning-of-history
#"\e[B": end-of-history

# alternate mappings for "page up" and "page down" to search the history
"\e[A": history-search-backward
"\e[B": history-search-forward

# mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
