[Unit]
Description=Start the caddy server

[Service]
ExecStart=/home/blurb/caddy run --config /home/blurb/priory/services/caddy/Caddyfile
WorkingDirectory=/home/blurb

[Socket]
ListenStream=0.0.0.0:80/*

[Install]
WantedBy=caddy.target
