[Unit]
Description=Start the blurbcloud server

[Service]
ExecStart=/home/blurb/blurbcloud
WorkingDirectory=/home/blurb

[Install]
WantedBy=blurbcloud.target
