[Unit]
Description=Serve Blurbs

[Service]
ExecStart=/home/blurbcloud/blurbcloud/blurbcloud
WorkingDirectory=/home/blurbcloud/blurbcloud

[Install]
WantedBy=blurbcloud.target
