[Unit]
Description=Periodically trigger blurbcloud restart

[Timer]
Unit=blurb-restart.service
OnCalendar=*-*-* 00:01:*

[Install]
WantedBy=timers.target