[Unit]
Description=replicate blurbs to a space

[Service]
ExecStart=/usr/bin/litestream replicate -config /home/onemanband/services/blurbcloud/litestream.yml
WorkingDirectory=/home/blurbcloud/

[Install]
WantedBy=litestream.target
